<div role="table" class="compare-products__table-wrapper">
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Compare Table",
  "class": "compare-products__table",
  "blocks": [{ "type": "compare-row" }]
}
{% endschema %}
